body {
	background-image: url("./background.jpg");
}

h5 {
	margin-top: 3px;
	text-align: center;
}


.avatar, p {
	text-align: center;
}

.avatar img {
	border-radius: 100%;
}

.card {
	margin: 10px 0;
}

.bio-column {
	background-image: url("./background-1.jpg");
	margin-top: 10px;
	margin-bottom: 10px;
}

.details-column {
	background-image: url("./background-2.jpg");
	margin-top: 10px;
	margin-bottom: 10px;
}

.progress {
	margin: 10px 0;
}